/*.image{*/
	/*background-color: #66a3ff;*/
	/*text-align: center;*/
	/*font-weight: bold;*/
	/*color: white;*/
	/*font-size: 30px;*/
	/*letter-spacing: 2px;*/
	/*border-radius: 35px;*/

/*}*/

.question{

	text-align: center;
	font-size: 26px;
	background-color: #f2f2f2;
	border-style: hidden;
	
}

.answer1,
.answer2,
.answer3,
.answer4,
.correct,
.incorrect,
.startOver{

	font-size: 24px;
	border-style: hidden;
	text-align: center;
}

.startOver{

	background-color: #ccffb3;
}

img {

	display: block;
	margin: 0 auto;
	width: 200px;
	border-style: hidden;
}